
<link href="~/Content/index.css" rel="stylesheet" />



<div class="plate">
    <p class="script"><span>simple, easy, fun </span></p>
    <p class="shadow text1">The</p>
    <p class="shadow text2">iRest</p>
    <p class="shadow text3">Way</p>
    <p class="script"><span>2018</span></p>
</div>


